# Common build directories used in the source tree
/build
/.build

# Temporary files
*~
\#*\#
.\#*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
**/__pycache__/

# OS specific files
.DS_Store
.DS_Store?

# Tool specific patterns
*.kdev4
.kdev_include_paths
