version: '{build}'

# for Appveyor CI (windows)

branches:
  only:
    - master

os: Windows Server 2012 R2

clone_folder: c:\projects\STEPcode

#grab zip instead of git clone
shallow_clone: true
platform: x64
configuration: Debug

environment:
  matrix:
  - GENERATOR: "Visual Studio 9"
    ARCH: 32
  - GENERATOR: "Visual Studio 10"
    ARCH: 32
  - GENERATOR: "Visual Studio 11"
    ARCH: 32
  - GENERATOR: "Visual Studio 12"
    ARCH: 32
  - GENERATOR: "Visual Studio 12 Win64"
    ARCH: 64

# build:
#   parallel: true
#   project: ALL_BUILD.vcxproj

build_script:
  - ps: |
    cd c:\projects\STEPcode
    mkdir build
    cd build
    cmake .. -DSC_ENABLE_TESTING=ON -G"$env:GENERATOR"
    cmake --build . --config Debug

test_script:
  - cmd: echo Running CTest...
  - cmd: cd c:\projects\STEPcode\build
  - cmd: ctest -j2 -V .

# we could upload a compiled zip somewhere (see Appveyor artifact documentation)
